.theme-colors li span.teal{background:#119170}
.theme-colors li span.green{background:#119130}
.theme-colors li span.blue{background:#117191}
.theme-colors li span.purple{background:#6f1191}
.theme-colors li span.brown{background:#916f11}
.theme-colors li span.lightred{background:#e63a3a}

/*.theme-colors li span.blue{background:#368ee0}
.theme-colors li span.orange{background:#f8a31f}
.theme-colors li span.red{background:#e51400}
.theme-colors li span.lime{background:#8cbf26}
.theme-colors li span.purple{background:#ff0097}
.theme-colors li span.brown{background:#a05000}
.theme-colors li span.pink{background:#e671b8}
.theme-colors li span.magenta{background:#a200ff}
.theme-colors li span.grey{background:#333}
.theme-colors li span.lightgrey{background:#666}
.theme-colors li span.satblue{background:#2c5e7b}
.theme-colors li span.satgreen{background:#56af45}
.theme-colors li span.grey-3{background:#eee}
.theme-colors li span.grey-4{background:#999}
*/


.order-step-title{color:#ccc;}
/* theme teal */
.theme-teal .header,
.theme-teal .dropdown-menu>li:focus>a,
.theme-teal .dropdown-menu>li:hover>a,
.theme-teal .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-teal .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-teal .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-teal .btn.btn-primary:hover{
	background-color:#119170;
}
.theme-teal .header .main-nav>li>a:hover,
.theme-teal .header .scroll-nav a.scroll-icon:hover,
.theme-teal .header .user .icon-nav>li>a:hover,
.theme-teal .header .user .icon-nav>li>a.active,
.theme-teal .header .user .userinfo>a:hover,
.theme-teal .header .user .open,
.theme-teal .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#005c53;
}
.theme-teal .order-progress li.active>a>span,
.theme-teal .btn.btn-primary,
.theme-teal .sidebar .subnav .subnav-menu>li.active>a,
.theme-teal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-teal .box .box-title .tabs>li.active>a{
	background-color:#00bc8c;
	}
.theme-teal .page-info{
	background-color:#edf3ef;
}

.theme-teal .dropdown-menu,
.theme-teal textarea:focus,
.theme-teal input[type="text"]:focus,
.theme-teal input[type="password"]:focus,
.theme-teal input[type="datetime"]:focus,
.theme-teal input[type="datetime-local"]:focus,
.theme-teal input[type="date"]:focus,
.theme-teal input[type="month"]:focus,
.theme-teal input[type="time"]:focus,
.theme-teal input[type="week"]:focus,
.theme-teal input[type="number"]:focus,
.theme-teal input[type="email"]:focus,
.theme-teal input[type="url"]:focus,
.theme-teal input[type="search"]:focus,
.theme-teal input[type="tel"]:focus,
.theme-teal input[type="color"]:focus,
.theme-teal .uneditable-input:focus{
	border-color:#119170;
}
.theme-teal .dropdown-menu>li:focus>a,
.theme-teal .dropdown-menu>li:hover>a,
.theme-teal .sidebar .subnav .subnav-menu>li.active>a,
.theme-teal .sidebar .subnav .subnav-menu>li>a:hover,
.theme-teal .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-teal .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-teal .order-progress li.active>a>span,
.theme-teal .btn.btn-primary,
.theme-teal .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-teal a,
.theme-teal .order-progress li.active>a>i,
.theme-teal .order-step-title.active,
.theme-teal .order-step-title.active .order-step-title-inner i{
	color:#00bc8c;
}
.theme-teal .sidebar .subnav .subnav-title>a:hover,
.theme-teal .page-info li,
.theme-teal a:hover{
	color:#005c53;
}
.theme-teal .sidebar .subnav .subnav-title>a,
.theme-teal .order-progress li.over>a>i,
.theme-teal .order-step-title.over i,
.theme-teal .box .box-content h3,
.theme-teal .table-box .box-title h3,
.theme-teal .order-info li span.text-info{
	color:#119170;
}
.theme-teal .sidebar .subnav .subnav-title>a:link>i{color:#119170;}

.theme-teal .box .box-title .tabs>li>a{
	color:#eef3ef;
}
.theme-teal .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-teal .data-table .title{ background-color:#fafcfb;}


/* theme green */
.theme-green .header,
.theme-green .dropdown-menu>li:focus>a,
.theme-green .dropdown-menu>li:hover>a,
.theme-green .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-green .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-green .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-green .btn.btn-primary:hover{
	background-color:#119130;
}
.theme-green .header .main-nav>li>a:hover,
.theme-green .header .scroll-nav a.scroll-icon:hover,
.theme-green .header .user .icon-nav>li>a:hover,
.theme-green .header .user .icon-nav>li>a.active,
.theme-green .header .user .userinfo>a:hover,
.theme-green .header .user .open,
.theme-green .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#005c25;
}
.theme-green .order-progress li.active>a>span,
.theme-green .btn.btn-primary,
.theme-green .sidebar .subnav .subnav-menu>li.active>a,
.theme-green .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-green .box .box-title .tabs>li.active>a{
	background-color:#00bc2e;
	}
.theme-green .dropdown-menu,
.theme-green textarea:focus,
.theme-green input[type="text"]:focus,
.theme-green input[type="password"]:focus,
.theme-green input[type="datetime"]:focus,
.theme-green input[type="datetime-local"]:focus,
.theme-green input[type="date"]:focus,
.theme-green input[type="month"]:focus,
.theme-green input[type="time"]:focus,
.theme-green input[type="week"]:focus,
.theme-green input[type="number"]:focus,
.theme-green input[type="email"]:focus,
.theme-green input[type="url"]:focus,
.theme-green input[type="search"]:focus,
.theme-green input[type="tel"]:focus,
.theme-green input[type="color"]:focus,
.theme-green .uneditable-input:focus{
	border-color:#119130;
}
.theme-green .dropdown-menu>li:focus>a,
.theme-green .dropdown-menu>li:hover>a,
.theme-green .sidebar .subnav .subnav-menu>li.active>a,
.theme-green .sidebar .subnav .subnav-menu>li>a:hover,
.theme-green .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-green .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-green .order-progress li.active>a>span,
.theme-green .btn.btn-primary,
.theme-green .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-green .order-progress li.active>a>i,
.theme-green .order-step-title.active,
.theme-green a{
	color:#00bc2e;
}
.theme-green .sidebar .subnav .subnav-title>a:hover,
.theme-green .page-info li,
.theme-green a:hover{
	color:#005c25;
}
.theme-green .sidebar .subnav .subnav-title .toggle-subnav,
.theme-green .order-progress li.over>a>i,
.theme-green .order-step-title.over i,
.theme-green .box .box-content h3,
.theme-green .table-box .box-title h3,
.theme-green .order-info li span.text-info{
	color:#119130;
}
.theme-green .box .box-title .tabs>li>a{
	color:#eff3ee;
}
.theme-green .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-green .page-info{background-color:#eef3ed;}
.theme-green .data-table .title{ background-color:#fafcfa;}

/* theme lightred */
.theme-lightred .header,
.theme-lightred .dropdown-menu>li:focus>a,
.theme-lightred .dropdown-menu>li:hover>a,
.theme-lightred .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-lightred .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-lightred .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-lightred .btn.btn-primary:hover{
	background-color:#e63a3a;
}
.theme-lightred .header .main-nav>li>a:hover,
.theme-lightred .header .scroll-nav a.scroll-icon:hover,
.theme-lightred .header .user .icon-nav>li>a:hover,
.theme-lightred .header .user .icon-nav>li>a.active,
.theme-lightred .header .user .userinfo>a:hover,
.theme-lightred .header .user .open,
.theme-lightred .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#bc1818;
}
.theme-lightred .order-progress li.active>a>span,
.theme-lightred .btn.btn-primary,
.theme-lightred .sidebar .subnav .subnav-menu>li.active>a,
.theme-lightred .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-lightred .box .box-title .tabs>li.active>a{
	background-color:#fe3939;
	}
.theme-lightred .dropdown-menu,
.theme-lightred textarea:focus,
.theme-lightred input[type="text"]:focus,
.theme-lightred input[type="password"]:focus,
.theme-lightred input[type="datetime"]:focus,
.theme-lightred input[type="datetime-local"]:focus,
.theme-lightred input[type="date"]:focus,
.theme-lightred input[type="month"]:focus,
.theme-lightred input[type="time"]:focus,
.theme-lightred input[type="week"]:focus,
.theme-lightred input[type="number"]:focus,
.theme-lightred input[type="email"]:focus,
.theme-lightred input[type="url"]:focus,
.theme-lightred input[type="search"]:focus,
.theme-lightred input[type="tel"]:focus,
.theme-lightred input[type="color"]:focus,
.theme-lightred .uneditable-input:focus{
	border-color:#e63a3a;
}
.theme-lightred .dropdown-menu>li:focus>a,
.theme-lightred .dropdown-menu>li:hover>a,
.theme-lightred .sidebar .subnav .subnav-menu>li.active>a,
.theme-lightred .sidebar .subnav .subnav-menu>li>a:hover,
.theme-lightred .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-lightred .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-lightred .order-progress li.active>a>span,
.theme-lightred .btn.btn-primary,
.theme-lightred .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-lightred .order-progress li.active>a>i,
.theme-lightred .order-step-title.active,
.theme-lightred a{
	color:#fe3939;
}
.theme-lightred .sidebar .subnav .subnav-title>a:hover,
.theme-lightred .page-info li,
.theme-lightred a:hover{
	color:#bc1818;
}
.theme-lightred .sidebar .subnav .subnav-title .toggle-subnav,
.theme-lightred .order-progress li.over>a>i,
.theme-lightred .order-step-title.over i,
.theme-lightred .box .box-content h3,
.theme-lightred .table-box .box-title h3,
.theme-lightred .order-info li span.text-info{
	color:#e63a3a;
}
.theme-lightred .box .box-title .tabs>li>a{
	color:#f2eded;
}
.theme-lightred .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-lightred .page-info{background-color:#f2eded;}
.theme-lightred .data-table .title{ background-color:#fcfafa;}

/* theme blue */
.theme-blue .header,
.theme-blue .dropdown-menu>li:focus>a,
.theme-blue .dropdown-menu>li:hover>a,
.theme-blue .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-blue .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-blue .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-blue .btn.btn-primary:hover{
	background-color:#117191;
}
.theme-blue .header .main-nav>li>a:hover,
.theme-blue .header .scroll-nav a.scroll-icon:hover,
.theme-blue .header .user .icon-nav>li>a:hover,
.theme-blue .header .user .icon-nav>li>a.active,
.theme-blue .header .user .userinfo>a:hover,
.theme-blue .header .user .open,
.theme-blue .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-blue .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#00375c;
}
.theme-blue .order-progress li.active>a>span,
.theme-blue .btn.btn-primary,
.theme-blue .sidebar .subnav .subnav-menu>li.active>a,
.theme-blue .box .box-title .tabs>li.active>a{
	background-color:#008dbc;
	}
.theme-blue .dropdown-menu,
.theme-blue textarea:focus,
.theme-blue input[type="text"]:focus,
.theme-blue input[type="password"]:focus,
.theme-blue input[type="datetime"]:focus,
.theme-blue input[type="datetime-local"]:focus,
.theme-blue input[type="date"]:focus,
.theme-blue input[type="month"]:focus,
.theme-blue input[type="time"]:focus,
.theme-blue input[type="week"]:focus,
.theme-blue input[type="number"]:focus,
.theme-blue input[type="email"]:focus,
.theme-blue input[type="url"]:focus,
.theme-blue input[type="search"]:focus,
.theme-blue input[type="tel"]:focus,
.theme-blue input[type="color"]:focus,
.theme-blue .uneditable-input:focus{
	border-color:#117191;
}
.theme-blue .dropdown-menu>li:focus>a,
.theme-blue .dropdown-menu>li:hover>a,
.theme-blue .sidebar .subnav .subnav-menu>li.active>a,
.theme-blue .sidebar .subnav .subnav-menu>li>a:hover,
.theme-blue .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-blue .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-blue .order-progress li.active>a>span,
.theme-blue .btn.btn-primary,
.theme-blue .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-blue .order-progress li.active>a>i,
.theme-blue .order-step-title.active,
.theme-blue a{
	color:#008dbc;
}
.theme-blue .sidebar .subnav .subnav-title>a:hover,
.theme-blue .page-info li,
.theme-blue a:hover{
	color:#00375c;
}
.theme-blue .sidebar .subnav .subnav-title .toggle-subnav,
.theme-blue .order-progress li.over>a>i,
.theme-blue .order-step-title.over i,
.theme-blue .box .box-content h3,
.theme-blue .table-box .box-title h3,
.theme-blue .order-info li span.text-info{
	color:#117191;
}
.theme-blue .box .box-title .tabs>li>a{
	color:#eef3f1;
}
.theme-blue .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-blue .page-info{background-color:#edf3f2;}
.theme-blue .data-table .title{ background-color:#fafcfc;}

/* theme purple */
.theme-purple .header,
.theme-purple .dropdown-menu>li:focus>a,
.theme-purple .dropdown-menu>li:hover>a,
.theme-purple .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-purple .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-purple .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-purple .btn.btn-primary:hover{
	background-color:#6f1191;
}
.theme-purple .header .main-nav>li>a:hover,
.theme-purple .header .scroll-nav a.scroll-icon:hover,
.theme-purple .header .user .icon-nav>li>a:hover,
.theme-purple .header .user .icon-nav>li>a.active,
.theme-purple .header .user .userinfo>a:hover,
.theme-purple .header .user .open,
.theme-purple .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-purple .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#53005c;
}
.theme-purple .order-progress li.active>a>span,
.theme-purple .btn.btn-primary,
.theme-purple .sidebar .subnav .subnav-menu>li.active>a,
.theme-purple .box .box-title .tabs>li.active>a{
	background-color:#8c00bc;
	}
.theme-purple .dropdown-menu,
.theme-purple textarea:focus,
.theme-purple input[type="text"]:focus,
.theme-purple input[type="password"]:focus,
.theme-purple input[type="datetime"]:focus,
.theme-purple input[type="datetime-local"]:focus,
.theme-purple input[type="date"]:focus,
.theme-purple input[type="month"]:focus,
.theme-purple input[type="time"]:focus,
.theme-purple input[type="week"]:focus,
.theme-purple input[type="number"]:focus,
.theme-purple input[type="email"]:focus,
.theme-purple input[type="url"]:focus,
.theme-purple input[type="search"]:focus,
.theme-purple input[type="tel"]:focus,
.theme-purple input[type="color"]:focus,
.theme-purple .uneditable-input:focus{
	border-color:#6f1191;
}
.theme-purple .dropdown-menu>li:focus>a,
.theme-purple .dropdown-menu>li:hover>a,
.theme-purple .sidebar .subnav .subnav-menu>li.active>a,
.theme-purple .sidebar .subnav .subnav-menu>li>a:hover,
.theme-purple .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-purple .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-purple .order-progress li.active>a>span,
.theme-purple .btn.btn-primary,
.theme-purple .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-purple .order-progress li.active>a>i,
.theme-purple .order-step-title.active,
.theme-purple a{
	color:#8c00bc;
}
.theme-purple .sidebar .subnav .subnav-title>a:hover,
.theme-purple .page-info li,
.theme-purple a:hover{
	color:#53005c;
}
.theme-purple .sidebar .subnav .subnav-title .toggle-subnav,
.theme-purple .order-progress li.over>a>i,
.theme-purple .order-step-title.over i,
.theme-purple .box .box-content h3,
.theme-purple .table-box .box-title h3,
.theme-purple .order-info li span.text-info{
	color:#6f1191;
}
.theme-purple .box .box-title .tabs>li>a{
	color:#efeef3;
}
.theme-purple .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-purple .page-info{background-color:#efedf3;}
.theme-purple .data-table .title{ background-color:#fbfafc;}

/* theme brown */
.theme-brown .header,
.theme-brown .dropdown-menu>li:focus>a,
.theme-brown .dropdown-menu>li:hover>a,
.theme-brown .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-brown .dataTables_wrapper .dataTables_paginate>a:hover,
.theme-brown .dataTables_wrapper .dataTables_paginate>span>a:hover,
.theme-brown .btn.btn-primary:hover{
	background-color:#916f11;
}
.theme-brown .header .main-nav>li>a:hover,
.theme-brown .header .scroll-nav a.scroll-icon:hover,
.theme-brown .header .user .icon-nav>li>a:hover,
.theme-brown .header .user .icon-nav>li>a.active,
.theme-brown .header .user .userinfo>a:hover,
.theme-brown .header .user .open,
.theme-brown .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,
.theme-brown .header .user .icon-nav>li .message-ul>li>a.more-messages:hover{
	background:#5c5300;
}
.theme-brown .order-progress li.active>a>span,
.theme-brown .btn.btn-primary,
.theme-brown .sidebar .subnav .subnav-menu>li.active>a,
.theme-brown .box .box-title .tabs>li.active>a{
	background-color:#bc8c00;
	}
.theme-brown .dropdown-menu,
.theme-brown textarea:focus,
.theme-brown input[type="text"]:focus,
.theme-brown input[type="password"]:focus,
.theme-brown input[type="datetime"]:focus,
.theme-brown input[type="datetime-local"]:focus,
.theme-brown input[type="date"]:focus,
.theme-brown input[type="month"]:focus,
.theme-brown input[type="time"]:focus,
.theme-brown input[type="week"]:focus,
.theme-brown input[type="number"]:focus,
.theme-brown input[type="email"]:focus,
.theme-brown input[type="url"]:focus,
.theme-brown input[type="search"]:focus,
.theme-brown input[type="tel"]:focus,
.theme-brown input[type="color"]:focus,
.theme-brown .uneditable-input:focus{
	border-color:#916f11;
}
.theme-brown .dropdown-menu>li:focus>a,
.theme-brown .dropdown-menu>li:hover>a,
.theme-brown .sidebar .subnav .subnav-menu>li.active>a,
.theme-brown .sidebar .subnav .subnav-menu>li>a:hover,
.theme-brown .header .user .icon-nav>li .message-ul>li>a.more-messages:hover,
.theme-brown .header .user .icon-nav>li .message-ul>li>a.more-messages,
.theme-brown .order-progress li.active>a>span,
.theme-brown .btn.btn-primary,
.theme-brown .box .box-title .tabs>li.active>a{
	color:#fff;
}
.theme-brown .order-progress li.active>a>i,
.theme-brown .order-step-title.active,
.theme-brown a{
	color:#bc8c00;
}
.theme-brown .sidebar .subnav .subnav-title>a:hover,
.theme-brown .page-info li,
.theme-brown a:hover{
	color:#5c5300;
}
.theme-brown .sidebar .subnav .subnav-title .toggle-subnav,
.theme-brown .order-progress li.over>a>i,
.theme-brown .order-step-title.over i,
.theme-brown .box .box-content h3,
.theme-brown .table-box .box-title h3,
.theme-brown .order-info li span.text-info{
	color:#916f11;
}
.theme-brown .box .box-title .tabs>li>a{
	color:#f3efee;
}
.theme-brown .header .user .icon-nav>li .message-ul>li>a:hover{background:#f1f1f1;color:#333}
.theme-brown .page-info{background-color:#f3efed;}
.theme-brown .data-table .title{ background-color:#fcfbfa;}
